    streamlit
    pycaret
    pandas
    numpy
    scikit-learn
    scipy
    matplotlib # Although not directly used in app.py, it might be a dependency for other libs
    seaborn # Same as matplotlib
